<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="mxdPath" value=""/>
		<add key="testShapefilePath" value="C:\Users\Administrator\Desktop\TempData\shp"/>
		<add key="testShapefileName" value="test_line"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
